body {
    background-image: url("./img/pexels-fwstudio-163999.jpg");
    background-size: 100%;
}

#title {
    text-align: center;
    font-size: 35pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.column {
    margin-left: 10%;
    width: 220px;
    height: 300px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2%;
    border-color: black;
    
}

.row {
   
}

p 
{
    text-align: justify;
}